body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#inputText {
    margin-bottom: 20px;
    padding: 10px;
}

#decryptButton {
    padding: 10px 20px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    color: green;
}